<div class="header">
  <%= render "shared/header" %>
</div>

<div class="main">
  <div class="profile">Profile Edit</div>
  <%= form_with model: @profile, local: true do |f| %>
    <div class="profile-edit-bar-wrapper">
      <div class="profile-edit-left-bar">
        <label class="profile-image-field">
          <span>画像を選択</span>
          <div><%= f.file_field :image, class:"hidden" %></div>
        </label>
        <% if @profile.image.present? %>
        <div id="image-preview"><%= image_tag @profile.image.variant(resize:'360x500')%></div>
        <% end %>
      </div>

      <div class="profile-edit-right-bar">
        <div class="profile-title" >氏名 / Name</div>
        <div><%="#{@profile.user.last_name}#{@profile.user.first_name}"%></div>
        <div><%="#{@profile.user.first_name_en}#{@profile.user.last_name_en}"%></div>
      
        <div class="profile-title">学位 / Degree</div>
        <%= f.text_area :degree, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>

        <div class="profile-title">生年月日 / Birthday</div>
        <div><%= @profile.user.birthday %></div>

        <div class="profile-title">所属 / Affiliation</div>
        <%= f.text_area :affiliation, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>

        <div class="profile-title">研究領域 / Research Fields</div>
        <%= f.text_area :research_fields, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>

        <div class="profile-title">連絡先 / Contact</div>
        <%= f.text_area :contact, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>

        <div class="profile-title">学歴 / Education</div>
        <%= f.text_area :education, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>

        <div class="profile-title">所属学会 / Academic Affiliations</div>
        <%= f.text_area :academic_affiliations, placeholder:"マークダウン可 / Markdown available", class:"profile-contents-field" %>
      </div>
    </div>
    <div class="profile-bottom-bar">
      <%= f.submit "更新する", class:"profile-update-btn" %>
      <%= link_to "戻る", profile_path, class:"profile-show-btn" %>
    </div>
  <% end %>
</div>
