<div class="header">
  <%= render "shared/header" %>
</div>

<div class="main">
  <div class="profile">Profile Edit</div>
  <%= form_with model: @profile, local: true do |f| %>
    <div class="profile-edit-bar-wrapper">
      <div class="profile-edit-left-bar">
        <label class="profile-image-field">
          <span>画像を選択</span>
          <div><%= f.file_field :image, class:"hidden" %></div>
        </label>
        <% if @profile.image.present? %>
        <div id="image-preview"><%= image_tag @profile.image.variant(resize:'360x500')%></div>
        <% end %>
      </div>

      <div class="profile-edit-right-bar">
        <div class="profile-title" >Name</div>
        <div><%="#{@profile.user.last_name}#{@profile.user.first_name}"%></div>
        <div><%="#{@profile.user.first_name_en}#{@profile.user.last_name_en}"%></div>
      
        <div class="profile-title">Degree</div>
        <%= f.text_area :degree, class:"profile-contents-field" %>

        <div class="profile-title">Birthday</div>
        <div><%= @profile.user.birthday %></div>

        <div class="profile-title">Affiliation</div>
        <%= f.text_area :affiliation, class:"profile-contents-field" %>

        <div class="profile-title">Research Fields</div>
        <%= f.text_area :research_fields, class:"profile-contents-field" %>

        <div class="profile-title">Contact</div>
        <%= f.text_area :contact, class:"profile-contents-field" %>

        <div class="profile-title">Education</div>
        <%= f.text_area :education, class:"profile-contents-field" %>

        <div class="profile-title">Academic Affiliations</div>
        <%= f.text_area :academic_affiliations, class:"profile-contents-field" %>
      </div>
    </div>
    <div class="profile-bottom-bar">
      <%= f.submit "更新する", class:"profile-update-btn" %>
      <%= link_to "戻る", profile_path, class:"profile-show-btn" %>
    </div>
  <% end %>
</div>
