<h1>Profile</h1>
  <div>
    <%if @profile.image.attached? %>
      <%= image_tag @profile.image.variant(resize: '500x500')%>
    <% end %>
  </div>


  <div>
    <div>Name</div>
    <div><%="#{@profile.user.first_name_en}#{@profile.user.last_name_en}"%></div>
  </div>

  <div>
    <div>Degree</div>
    <div><%= @profile.degree %></div>
  </div>

  <div>
    <div>Birthday</div>
    <div><%= @profile.user.birthday %></div>
  </div>

  <div>
    <div>Affiliation</div>
    <div><%= @profile.affiliation %></div>
  </div>

  <div>
    <div>Research Fields</div>
    <div><%= @profile.research_fields %></div>
  </div>

  <div>
    <div>Contact</div>
    <div><%= @profile.contact %></div>
  </div>

  <div>
    <div>Education</div>
    <div><%= @profile.education %></div>
  </div>

  <div>
    <div>Academic Affiliations</div>
    <div><%= @profile.academic_affiliations %></div>
  </div>


<%if user_signed_in? %>
  <% if current_user.id == @profile.user.id%>
    <%= link_to "編集する", edit_profile_path %>
  <% end %>
<% end %>

<%= link_to "トップページ", root_path %>