<div class="header">
  <%= render "shared/header" %>
</div>

<div class="signup-main">
  <div class="signup-wrapper">
    <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
        <div class="signup-header">Sign up</div>

        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="signup-form-group">
          <div class='signup-form-text'>Email</div>
          <%= f.email_field :email, class:"signup-field", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
        </div>

        <div class="signup-form-group">
          <div class='signup-form-text'>Password</div>
          <%= f.password_field :password, class:"signup-field", id:"password", placeholder:"6文字以上の半角英数字" %>
          <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
        </div>
        <div class="signup-form-group">
          <div class='signup-form-text'>Password confirmation</div>
          <%= f.password_field :password_confirmation, class:"signup-field", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
        </div>

        <div class="signup-name-group">
          <div class='signup-name'>お名前</div>
          <div class='signup-name-field-wrap'>
            <%= f.text_area :last_name, class:"signup-name-field", id:"last-name", placeholder:"例) 田中"%>
            <%= f.text_area :first_name, class:"signup-name-field", id:"first-name", placeholder:"例) 太郎"%>
          </div>
        </div>
          

        <div class="signup-name-group">
          <div class='signup-name'>Name</div>
          <div class='signup-name-field-wrap'>
            <%= f.text_area :first_name_en, class:"signup-name-field", id:"first-name-en", placeholder:"例) Taro"%>
            <%= f.text_area :last_name_en, class:"signup-name-field", id:"last-name-en", placeholder:"例) Tanaka"%>
          </div>
        </div>

        <div class="signup-birthday-group">
          <div class='signup-birthday'>Birthday</div>
          <div class='signup-birthday-line'>
            <%= raw sprintf(
                        f.date_select(
                          :birthday,
                          class:'signup-select-birthday',
                          id:"birth-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: 1960,
                          end_year: (Time.now.year - 5),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
          <p class='info-text'>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
        </div>



        <%= f.submit "Next", class:"signup-next-btn" %>

    <% end %>
  </div>
</div>
