<div class="header">
  <%= render "shared/header" %>
</div>

<div class="signup-main">
  <div class="signup-profile-wrapper">
    <%= form_for @profile do |f| %>
      <div class="signup-header">Profile Creation</div>
      <%= render "devise/shared/error_messages", resource: @profile %>

      <div class="signup-profile-message">※プロフィールは後から編集できます</div>
        <div class="signup-profile-all">
          <div class="signup-image-group">
            <div class="signup-image-text">プロフィールに表示させる画像を選択してください</div>
            <label class="signup-image-field">
              <span>画像を選択</span>
              <%= f.file_field :image, class:"hidden" %>
            </label>
            <div id="image-preview"></div>
          </div>

          <div class="signup-profile-right">
            <div class="signup-profile-group">
              <div class="signup-form-text">学位 / Degree</div>
              <%= f.text_area :degree, placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>

            <div class="signup-profile-group">
              <div class="signup-form-text">所属 / Affiliation</div>
              <%= f.text_area :affiliation, placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>

            <div class="signup-profile-group">
              <div class="signup-form-text">研究領域 / Research Fields</div>
              <%= f.text_area :research_fields,placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>

            <div class="signup-profile-group">
              <div class="signup-form-text">連絡先 / Contact</div>
              <%= f.text_area :contact, placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>

            <div class="signup-profile-group">
              <div class="signup-form-text">学歴 / Education</div>
              <%= f.text_area :education, placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>

            <div class="signup-profile-group">
              <div class="signup-form-text">所属学会 / Academic Affiliations</div>
              <%= f.text_area :academic_affiliations, placeholder:"マークダウン可 / Markdown available", class:"signup-profile-field" %>
            </div>
          </div>
      </div>

      <%= f.submit "Sign up", class:"signup-btn" %>
    <% end %>
  </div>
</div>