<div class="header">
  <%= render "shared/header" %>
</div>

<div class="signup-main">
  <div class="signup-wrapper">
    <%= form_for @profile do |f| %>
      <div class="signup-header">Profile Creation</div>
      <%= render "devise/shared/error_messages", resource: @profile %>

      <div class="signup-profile-message">※プロフィールは後から編集できます</div>
      <div class="signup-image-group">
        <div class="signup-image-text">プロフィールに表示させる画像を選択してください</div>
        <label class="signup-image-field">
          <span>画像を選択</span>
          <%= f.file_field :image, class:"hidden" %>
        </label>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Degree</div>
        <%= f.text_area :degree, class:"signup-profile-field" %>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Affiliation</div>
        <%= f.text_area :affiliation, class:"signup-profile-field" %>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Research Fields</div>
        <%= f.text_area :research_fields, class:"signup-profile-field" %>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Contact</div>
        <%= f.text_area :contact, class:"signup-profile-field" %>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Education</div>
        <%= f.text_area :education, class:"signup-profile-field" %>
      </div>

      <div class="signup-profile-group">
        <div class="signup-form-text">Academic Affiliations</div>
        <%= f.text_area :academic_affiliations, class:"signup-profile-field" %>
      </div>

      <%= f.submit "Sign up", class:"signup-btn" %>
    <% end %>
  </div>
</div>