<div class="header">
  <%= render "shared/header" %>
  <%= render "shared/post_form" %>
</div>

<div class="main">
  <%= render "shared/search_form" %>

  <div class="index-wrapper">
    <%# <div class="index-side-bar"> %>
      <%#= render "shared/researcher_side_bar", article: @article%>
    <%# </div> %>

    <div class="index-main-bar">
      <%= render "shared/category_tabs" %>
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <%= render "shared/article_card", article: article %>
        <% end %>
      <% end %>
    </div>
    <div class="index-page-bar">
      <%= render "shared/pagenation_bar", articles: @articles %>
    </div>
  </div>
</div>

<div class="footer">
  <%= render "shared/footer" %>
</div>