<div class="header">
  <%= render "shared/header" %>
</div>

<div class="main">
  <%= render "shared/search_form" %>

  <div class="show-wrapper">
    <div class="show-left-bar">
      <div class="article-title">カテゴリー / Category</div>
        <div class="article-contents"><%= @article.category.name %></div>
      <div class="article-title">タイトル</div>
        <div class="article-contents"><%= @article.title %></div>
      <div class="article-title">Title</div>
        <div class="article-contents"><%= @article.title_en %>&nbsp;</div>
      <div class="article-title">著者 / Author</div>
        <div class="article-contents"><%= "#{@article.user.last_name}#{@article.user.first_name}" %></div>
      <div class="article-title" >掲載誌 / Journal</div>
        <div class="article-contents"><%= @article.journal_name %>&nbsp;</div>
      <div class="article-title" >掲載日 / publication</div>
        <div class="article-contents"><%= @article.publication_date %>&nbsp;</div>
      <div class="article-title" >概要 / Abstract</div>
        <div class="article-contents"><%= markdown(@article.abstract) %>&nbsp;</div>
    </div>
    
    <div class="show-right-bar">
      <% if @article.article_file.present? %>
        <%= link_to "download", rails_blob_path(@article.article_file), class:"download-btn" %>
      <% end %>

      <div class="show-edit-btn">
        <%if user_signed_in? %>
          <% if current_user.id == @article.user.id%>
            <%= link_to "編集する", edit_article_path, class:"edit-btn" %>
            <%= link_to "削除する", article_path, method: :DELETE, class:"delete-btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "戻る", root_path, class:"article-toppage-btn" %>
</div>