  <h1>Profile</h1>
    <div><%= image_tag @user.image.variant(resize: '500x500') if @user.image.attached?%></div>
  <div>Name</div>
  <div>
    <%= "#{@user.last_name}#{@user.first_name}" %>
  </div>
  <div>
    <%= "#{@user.first_name_en}#{@user.last_name_en}" %>
  </div>
  <div>Degree</div>
  <div>
    <%= @user.degree %>
  </div>
  <div>Birthday</div>
  <div>
    <%= @user.birthday %>
  </div>
  <div>Affiliation</div>
  <div>
    <%= @user.affiliation %>
  </div>
  <div>Research Fields</div>
  <div>
    <%= @user.research_fields %>
  </div>
  <div>Contact</div>
  <div>
    <%= @user.contact %>
  </div>
  <div>Education</div>
  <div>
    <%= @user.education %>
  </div>
  <div>Academic Affliations</div>
  <div>
    <%= @user.academic_affiliations %>
  </div>

<%#if user_signed_in? %>
  <%# if current_user.id == @user.id%>
    <%#= link_to "編集する", edit_user_path %>
  <%# end %>
<%# end %>

  <%= link_to "戻る", root_path %>
