<div class="researcher-card">
  <a href="/profiles/<%= researcher.id %>" class="profile-btn">
    <div class="researcher-card-contents">
      <div class="card-bars">
        <div class="card-bar-profile">
          <%= "#{researcher.last_name}#{researcher.first_name}" %>
        </div>
        <div class="card-bar-profile">
          <%= "#{researcher.last_name_en}#{researcher.first_name_en}" %>
        </div>
        <div class="card-bar-profile">
          <%= researcher.profile.degree %>
        </div>
        <div class="card-bar-profile">
          <%= researcher.profile.affiliation %>
        </div>
        <div class="card-bar-profile">
          記事数:&nbsp;&nbsp;<%= researcher.articles.size %>
        </div>
      </div>
      <div class="card-image">
        <%if researcher.profile.image.present? %>
          <%= image_tag researcher.profile.image.variant(resize: "100x100"),class:"card-researcher-image" %>
        <%end%>
      </div>
    </div>
  </a>
</div>