<div class="index-side-bar-contents">
  <%#= if article.user.profile.image.present? %>
    <%# <div class="image">
      <%#= image_tag article.user.profile.image %>
    <%# </div> %>
  <%# else %>
  <div class="index-image">
    <%= image_tag "person_pict.png", class:"index-profile-image"%>
  </div>
  <%# end %>

  <div class="index-profile-wrapper">
    <div class="index-profile-title">Name</div>
    <%# <div class="index-profile-contents"><%="#{article.user.first_name_en}#{article.user.last_name_en}"%>

    <div class="index-profile-title">Degree</div>
    <%# <div class="index-profile-contents"><%= article.user.profile.degree %>

    <div class="index-profile-title">Affiliation</div>
    <%# <div class="index-profile-contents"><%= article.user.profile.affiliation %>

    <div class="index-profile-title">Research Fields</div>
    <%# <div class="index-profile-contents"><%= article.user.profile.research_fields %>

    <div class="index-profile-title">Contact</div>
    <%# <div class="index-profile-contents"><%= article.user.profile.contact %>
  </div>
</div>