<div class="header">
  <%= render "shared/header" %>
</div>

<div class="login-main">
  <div class='login-wrapper'>
    <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
      <div class='login-header'>
          Log in
      </div>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="login-form-group">
        <div class="login-form-text">Email</div>
        <%= f.email_field :email, class:"login-field", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="login-form-group">
        <div class="login-form-text">Password</div>
        <%= f.password_field :password, class:"login-field", id:"password", placeholder:"" %>
      </div>
        <%= f.submit "ログイン" ,class:"login-btn" %>
    <% end %>
  </div>
</div>